<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Quản trị người dùng</h1>
    <hr />
    <div>
        @RenderBody() <!--Phần code sẽ được hiển thị ở đây-->
    </div>
    <hr />
    <strong>Copyright 2021</strong>
</body>
</html>
