@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Identity/Pages/_LayoutQTUser.cshtml";
}

<h1>Register Account</h1>

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    Họ: <input asp-for="Input.FirstName" /> <br />
    Tên: <input asp-for="Input.LastName" /> <br />
    Phone: <input asp-for="Input.Phone" /> <br />
    Email: <input asp-for="Input.Email"> <br />
    Password: <input asp-for="Input.Password" /> <br />
    Confirm password: <input asp-for="Input.ConfirmPassword" /> <br />
    <button type="submit">Register</button>
</form>

